_*
*~
aclocal.m4
autom4te.cache/
config.status
configure
cscope.files
cscope.out
doc/icewm*.html
lib/keys
lib/menu
lib/preferences
lib/programs
lib/toolbar
lib/winoptions
*.log
Makefile
*.mo
*.o
po/Makefile
src/config.h
src/config.h.in
src/genpref
src/icehelp
src/icesh
src/icewm
src/icewmbg
src/icewmhint
src/icewm-session
src/icewmtray
src/Makefile
*.swo
*.swp
