[Desktop Entry]
Version=1.0
Encoding=UTF-8
Name=icewm
Name[en_US]=icewm
Comment=Simple and fast window manger
Terminal=false
Exec=icewm-session
TryExec=icewm-session

[Window Manager]
SessionManaged=true
