[Desktop Entry]
Encoding=UTF-8
Type=XSession
Name=IceWM
GenericName=Window Manager
GenericName[fr]=Gestionnaire de Fenêtres
GenericName[pt]=Gestor de Janelas
Comment=Simple and fast window manger
Icon=icewm
TryExec=/usr/bin/icewm
Exec=icewm
NoDisplay=true
Hidden=true
Categories=WindowManager;Application;System;
StartupNotify=false
X-GNOME-Autostart-Notify=false
X-GNOME-Autostart-Phase=WindowManager
X-GNOME-Provides=windowmanager
X-GNOME-WMName=icewm
DesktopNames=ICEWM
X-LightDM-DesktopName=icewm

[Window Manager]
Name=icewm
SessionManaged=false
StartupNotification=false
