[Desktop Entry]
Encoding=UTF-8
Type=XSession
Name=IceWM Session
GenericName=Window Manager
GenericName[fr]=Gestionnaire de Fenêtres
GenericName[pt]=Gestor de Janelas
Comment=This session logs you into IceWM
Comment[az]=Bu iclas sizi IceWM'a daxil edəcək
Comment[be]=Гэтая сэсыя завядзе вас у IceWM
Comment[ca]=Aquesta sessió entra en IceWM
Comment[cs]=Toto sezení vás přihlásí do IceWM
Comment[cy]=Mae'r sesiwn hwn yn eich mewngofnodi i IceWM
Comment[da]=Denne session logger dig på IceWM
Comment[de]=Diese Sitzung meldet Sie an IceWM an
Comment[el]=Αυτή η συνεδρία σας εισάγει στο IceWM
Comment[es]=Con esta sesión accede a IceWM
Comment[fi]=Tämä istunto kirjaa sisään IceWMen
Comment[fr]=Cette session vous connectera dans IceWM
Comment[he]=תצורת הפעלה זו מחברת אותך ל IceWM
Comment[hi]=यह सत्र गनोम में लॉगिन होगा
Comment[hu]=Ez a munkamenet a IceWM-ba jelentkeztet be
Comment[it]=Sessione di lavoro con IceWM
Comment[ja]=IceWM セッションにログインします
Comment[ko]=IceWM세션으로 로그인합니다
Comment[ms]=Sesi ini akan log anda  ke IceWM
Comment[nl]=Deze sessie meldt u aan bij IceWM
Comment[nn]=Denne økta loggar på IceWM
Comment[no]=Denne sesjonen logger deg inn til IceWM
Comment[pl]=Sesja logowania do IceWM
Comment[pt]=Esta sessão inicia-o no IceWM
Comment[pt_BR]=Logar no ambiente IceWM
Comment[ro]=Această sesiune vă va loga în IceWM
Comment[sk]=Toto sedenie vás prihlási do prostredia IceWM
Comment[sl]=Ta seja vas prijavi v IceWM
Comment[sq]=Kjo seancë do t'ju fusë në IceWM
Comment[sr@Latn]=Ova sesija vas prijavljuje na IceWM
Comment[sr]=Ова сесија вас пријављује на IceWM
Comment[sv]=Denna session loggar in dig i IceWM
Comment[tr]=Bu oturum ile IceWM'a giriş yaparsınız
Comment[uk]=Сеанс роботи в середовищі IceWM
Comment[vi]=Session này cho bạn đăng nhập vào IceWM
Comment[zh_CN]=此会话使您登录到 IceWM
Comment[zh_TW]=選取這個作業階段後會進入 IceWM 環境
Icon=icewm
TryExec=/usr/bin/icewm-session
Exec=icewm-session
NoDisplay=false
Hidden=false
Categories=WindowManager;Application;System;
StartupNotify=false
X-GNOME-Autostart-Notify=false
X-GNOME-Autostart-Phase=WindowManager
X-GNOME-Provides=windowmanager
X-GNOME-WMName=icewm
DesktopNames=ICEWM
X-LightDM-DesktopName=icewm

[Window Manager]
Name=icewm
SessionManaged=true
StartupNotification=false
