[Desktop Entry]
Encoding=UTF-8
Type=XSession
Name=IceWM
GenericName=Window Manager
GenericName[da]=Vindueshåndtering
GenericName[sv]=Fönsterhanterare
GenericName[es]=Administrador de ventanas
GenericName[fr]=Gestionnaire de Fenêtres
GenericName[id]=Pengelola Jendela
GenericName[lt]=Langų tvarkytuvė
GenericName[pt]=Gestor de Janelas
GenericName[pt_BR]=Gerenciador de Janelas
GenericName[tr]=Pencere Yöneticisi
GenericName[uk]=Менеджер вікон IceWM
Comment=Simple and fast window manager
Comment[da]=Simpel og hurtig vindueshåndtering
Comment[sv]=Simpel och snabb fönsterhanterare
Comment[es]=Administrador de ventanas simple y rápido
Comment[id]=Pengelola jendela sederhana dan cepat
Comment[lt]=Paprasta ir greita langų tvarkytuvė
Comment[pt]=Gestor de janelas simples e rápido
Comment[pt_BR]=Gerenciador simples e rápido de janelas
Comment[tr]=Basit ve hızlı bir pencere yöneticisi
Comment[uk]=Простий та швидкий менеджер вікон
Icon=icewm
TryExec=/usr/bin/icewm
Exec=/usr/bin/icewm
NoDisplay=false
Hidden=false
Categories=WindowManager;Application;System;
StartupNotify=false
X-GNOME-Autostart-Notify=false
X-GNOME-Autostart-Phase=WindowManager
X-GNOME-Provides=windowmanager
X-GNOME-WMName=icewm
DesktopNames=ICEWM
X-LightDM-DesktopName=icewm

[Window Manager]
Name=icewm
SessionManaged=false
StartupNotification=false
